- if !meme.nil?
  .row
    .col-lg-12
      .text-center
        = image_tag meme.meme_url, size: "500x500", class: "img-thumbnail"
  .row#swipe_actions
    .col-lg-4
      = link_to "Left Swipe", left_swipe_path(meme.id), method: :post, remote: true, class: "btn btn-danger"
    .col-lg-4
      = bootstrap_form_for meme_investment, url: investment_path(meme.id), remote: true do |f|
        = f.number_field :amount, value: 0
        = f.submit class: "btn btn-success"
    .col-lg-4
      = link_to "Right Swipe", right_swipe_path(meme.id), method: :post, remote: true, class: "btn btn-success"
- else
  %h1 No Mas Memes
  = javascript_include_tag "https://raw.githubusercontent.com/nthitz/turndownforwhatjs/master/tdfw.js"
